.DS_Store
node_modules/
/dist/
/src/components/alias
/src/firebase
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/functions/ref/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
